version: "2"

services:
  demo1:
    build:
      context: ./demo1
      args:
        - JAR_FILE=build/libs/*.jar
    ports:
      - "8080:8080"
      - "8000:8000"
    container_name: demo1
    networks:
      spring-boot-docker-demo-network:
        aliases:
          - demo1.taonaw.org
    entrypoint: java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8000 -jar app.jar

  demo2:
    build:
      context: ./demo2
      args:
        - JAR_FILE=build/libs/*.jar
    ports:
      - "8081:8080"
      - "8001:8001"
    container_name: demo2
    networks:
      spring-boot-docker-demo-network:
        aliases:
          - demo2.taonaw.org
    entrypoint: java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8001 -jar app.jar

networks:
  spring-boot-docker-demo-network:
    external: true
